[submodule "jni/libdatachannel"]
	path = jni/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "jni/cmake-conan"]
	path = jni/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
